.callout:not([data-callout~=aside]):not([data-callout~=infobox]):not([data-callout~=caption]):not([data-callout~=cards]):not([data-callout~=column]):not([data-callout~=grid]):not([data-callout~=kanban]):not([data-callout~=kith]):not([data-callout~=metadata]):not([data-callout~=row]):not([data-callout~=quote]):not([data-callout~=timeline]) .callout-title {
    display: none;
}

.callout:not([data-callout~=aside]):not([data-callout~=infobox]):not([data-callout~=caption]):not([data-callout~=cards]):not([data-callout~=column]):not([data-callout~=grid]):not([data-callout~=kanban]):not([data-callout~=kith]):not([data-callout~=metadata]):not([data-callout~=row]):not([data-callout~=quote]):not([data-callout~=timeline]) .callout-title-inner {
    padding-top: 0.25em;
}

.callout:not([data-callout~=aside]):not([data-callout~=infobox]):not([data-callout~=caption]):not([data-callout~=cards]):not([data-callout~=column]):not([data-callout~=grid]):not([data-callout~=kanban]):not([data-callout~=kith]):not([data-callout~=metadata]):not([data-callout~=row]):not([data-callout~=quote]):not([data-callout~=timeline]) {
    background-color: #3C3836;
    border-color: #282828;
    border-radius: 8px !important;
    border-width: 1px !important;
    padding: 0px;
}

.callout:not([data-callout~=aside]):not([data-callout~=infobox]):not([data-callout~=caption]):not([data-callout~=cards]):not([data-callout~=column]):not([data-callout~=grid]):not([data-callout~=kanban]):not([data-callout~=kith]):not([data-callout~=metadata]):not([data-callout~=row]):not([data-callout~=quote]):not([data-callout~=timeline]) .callout-content {
    padding: 10px;
}

.callout:not([data-callout~=aside]):not([data-callout~=infobox]):not([data-callout~=caption]):not([data-callout~=cards]):not([data-callout~=column]):not([data-callout~=grid]):not([data-callout~=kanban]):not([data-callout~=kith]):not([data-callout~=metadata]):not([data-callout~=row]):not([data-callout~=quote]):not([data-callout~=timeline]) {
    > .callout-content > :first-child {
        margin-top: 0px;
    }
    > .callout-content > :last-child {
        margin-bottom: 0px;
    }
}

.HyperMD-callout,
.HyperMD-quote {
    background: var(--background-primary);
}

.callout[data-callout="aside"] {
    font-size: 0.9em;
}

.callout[data-callout=kith] .callout-title-inner em,
.callout.callout[data-callout~=timeline] .callout-title em{
    line-height: 24px !important;
    text-decoration: none !important;
}

/*******************
  RAINDROP CALLOUTS
  *****************/

.callout[data-callout="missing"] {
    /* red */
    background-color: rgba(242, 121, 131, 0.4);
    border-color: rgba(242, 121, 131, 0.6);
}
.callout[data-callout="danger"] {
    /* blue */
    background-color: rgba(92, 207, 230, 0.4);
    border-color: rgba(92, 207, 230, 0.6);
}
.callout[data-callout="error"] {
    /* green */
    background-color: rgba(135, 217, 108, 0.4);
    border-color: rgba(135, 217, 108, 0.6);
}
.callout[data-callout="bug"] {
    /* yellow */
    background-color: red; 
    border-color: #D79921;
}
