.callout:not([data-callout*="aside|infobox|caption|cards|column|grid|kanban|kith|metadata|row|quote|timeline"]) .callout-title {
    display: none; }

.callout:not([data-callout*="aside|infobox|caption|cards|column|grid|kanban|kith|metadata|row|quote|timeline"]) .callout-title-inner {
    padding-top: 0.25em; }

.callout:not([data-callout*="aside|infobox|caption|cards|column|grid|kanban|kith|metadata|row|quote|timeline"]) {
    border-radius: 8px !important;
    padding: 0; }

.callout:not([data-callout*="aside|infobox|caption|cards|column|grid|kanban|kith|metadata|row|quote|timeline"]) .callout-content {
    padding: 10px; }

.callout:not([data-callout*="aside|infobox|caption|cards|column|grid|kanban|kith|metadata|row|quote|timeline"]) > .callout-content > :first-child,
.callout:not([data-callout*="aside|infobox|caption|cards|column|grid|kanban|kith|metadata|row|quote|timeline"]) > .callout-content > :last-child {
    margin: 0; }

.HyperMD-callout, .HyperMD-quote {
    background: var(--background-primary); }

.callout[data-callout="aside"] {
    font-size: 0.9em; }

.callout[data-callout=kith] .callout-title-inner em,
.callout.callout[data-callout~=timeline] .callout-title em{
    line-height: 24px !important;
    text-decoration: none !important; }

/*******************
  COLORED CALLOUTS
  *****************/

.callout[data-callout="red"],
.callout[data-callout="blue"],
.callout[data-callout="yellow"],
.callout[data-callout="green"],
.callout[data-callout="orange"],
.callout[data-callout="pink"] {
    border-width: 1px !important;
    border-left-width: 10px !important ;
    
}

.callout[data-callout="red"] { border-color: rgba(242, 121, 131, 1) !important; }
.callout[data-callout="blue"] { border-color: rgba(92, 207, 230, 1) !important; }
.callout[data-callout="green"] { border-color: rgba(135, 217, 108, 1) !important;}
.callout[data-callout="pink"] { border-color: rgba(242, 189, 205, 1.0) !important; }
.callout[data-callout="orange"] { border-color: rgba(255, 136, 0, 1) !important; }
.callout[data-callout="yellow"] { border-color: rgba(254, 245, 128, 1) !important; }

.callout:not([data-callout~="aside|infobox|caption|cards|column|grid|kanban|kith|metadata|row|quote|timeline|blue|green|yellow|red|pink|orange"]) {
    background: var(--callout-bg) !important;
    border: 1px solid var(--callout-border) }


