/* Folder Title Colors */      

.nav-folder-children .nav-folder .nav-folder-title:hover,
.nav-folder-children .nav-folder .nav-folder-title:active {
  color: var(--theme-active-hover) !important; }

.nav-folder-children .nav-folder:nth-child(14n+2) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+2) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+2) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+2) .nav-folder-title { 
  color: var(--folder1); }
.nav-folder-children .nav-folder:nth-child(14n+3) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+3) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+3) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+3) .nav-folder-title {
  color: var(--folder2); }
.nav-folder-children .nav-folder:nth-child(14n+4) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+4) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+4) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+4) .nav-folder-title {
  color: var(--folder3); }
.nav-folder-children .nav-folder:nth-child(14n+5) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+5) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+5) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+5) .nav-folder-title {
  color: var(--folder4); }
.nav-folder-children .nav-folder:nth-child(14n+6) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+6) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+6) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+6) .nav-folder-title {
  color: var(--folder5); }
.nav-folder-children .nav-folder:nth-child(14n+7) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+7) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+7) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+7) .nav-folder-title {
  color: var(--folder6); }
.nav-folder-children .nav-folder:nth-child(14n+8) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+8) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+8) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+8) .nav-folder-title {
  color: var(--folder7); }
.nav-folder-children .nav-folder:nth-child(14n+9) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+9) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+9) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+9) .nav-folder-title {
  color: var(--folder8); }
.nav-folder-children .nav-folder:nth-child(14n+10) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+10) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+10) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+10) .nav-folder-title {
  color: var(--folder9); }
.nav-folder-children .nav-folder:nth-child(14n+11) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+11) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+11) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+11) .nav-folder-title {
  color: var(--folder10); }
.nav-folder-children .nav-folder:nth-child(14n+12) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+12) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+12) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+12) .nav-folder-title {
  color: var(--folder11); }
.nav-folder-children .nav-folder:nth-child(14n+13) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+13) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+13) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+13) .nav-folder-title {
  color: var(--folder12); }
.nav-folder-children .nav-folder:nth-child(14n+14) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+14) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+14) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+14) .nav-folder-title {
  color: var(--folder13); }
.nav-folder-children .nav-folder:nth-child(14n+15) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+15) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+15) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+15) .nav-folder-title {
  color: var(--folder14); }

/* Folder Icon Colors */

.nav-folder-children .nav-folder:nth-child(14n+2) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+2) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+2) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+2) .nav-folder-collapse-indicator {
  color: var(--folder1); }
.nav-folder-children .nav-folder:nth-child(14n+3) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+3) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+3) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+3) .nav-folder-collapse-indicator {
  color: var(--folder2); }
.nav-folder-children .nav-folder:nth-child(14n+4) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+4) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+4) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+4) .nav-folder-collapse-indicator {
  color: var(--folder3); }
.nav-folder-children .nav-folder:nth-child(14n+5) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+5) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+5) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+5) .nav-folder-collapse-indicator {
  color: var(--folder4); }
.nav-folder-children .nav-folder:nth-child(14n+6) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+6) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+6) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+6) .nav-folder-collapse-indicator {
  color: var(--folder5); }
.nav-folder-children .nav-folder:nth-child(14n+7) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+7) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+7) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+7) .nav-folder-collapse-indicator {
  color: var(--folder6); }
.nav-folder-children .nav-folder:nth-child(14n+8) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+8) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+8) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+8) .nav-folder-collapse-indicator {
  color: var(--folder7); }
.nav-folder-children .nav-folder:nth-child(14n+9) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+9) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+9) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+9) .nav-folder-collapse-indicator {
  color: var(--folder8); }
.nav-folder-children .nav-folder:nth-child(14n+10) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+10) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+10) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+10) .nav-folder-collapse-indicator {
  color: var(--folder9); }
.nav-folder-children .nav-folder:nth-child(14n+11) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+11) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+11) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+11) .nav-folder-collapse-indicator {
  color: var(--folder10); }
.nav-folder-children .nav-folder:nth-child(14n+12) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+12) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+12) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+12) .nav-folder-collapse-indicator {
  color: var(--folder11); }
.nav-folder-children .nav-folder:nth-child(14n+13) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+13) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+13) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+13) .nav-folder-collapse-indicator {
  color: var(--folder12); }
.nav-folder-children .nav-folder:nth-child(14n+14) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+14) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+14) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+14) .nav-folder-collapse-indicator {
  color: var(--folder13); }
.nav-folder-children .nav-folder:nth-child(14n+15) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(14n+15) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+15) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(14n+15) .nav-folder-collapse-indicator {
  color: var(--folder14); }
  
/* ----------------------------------------------
/* BOOKMARKS 
-----------------------------------------------*/

.workspace-leaf-content[data-type="bookmarks"] .tree-item-self.is-clickable:hover,
.workspace-leaf-content[data-type="bookmarks"] .tree-item-self.is-clickable:active {
  color: var(--theme-active-hover) !important; }

.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 1)  .tree-item-self { color: var(--folder1);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 2)  .tree-item-self { color: var(--folder2);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 3)  .tree-item-self { color: var(--folder3);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 4)  .tree-item-self { color: var(--folder4);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 5)  .tree-item-self { color: var(--folder5);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 6)  .tree-item-self { color: var(--folder6);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 7)  .tree-item-self { color: var(--folder7);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 8)  .tree-item-self { color: var(--folder8);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 9)  .tree-item-self { color: var(--folder9);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 10)  .tree-item-self { color: var(--folder10);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 11)  .tree-item-self { color: var(--folder11);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 12)  .tree-item-self { color: var(--folder12);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 13)  .tree-item-self { color: var(--folder13);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 14)  .tree-item-self { color: var(--folder1);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 15)  .tree-item-self { color: var(--folder2);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 16)  .tree-item-self { color: var(--folder3);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 17)  .tree-item-self { color: var(--folder4);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 18)  .tree-item-self { color: var(--folder5);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 19)  .tree-item-self { color: var(--folder6);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 20)  .tree-item-self { color: var(--folder7);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 21)  .tree-item-self { color: var(--folder8);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 22)  .tree-item-self { color: var(--folder9);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 23)  .tree-item-self { color: var(--folder10);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 24)  .tree-item-self { color: var(--folder11);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 25)  .tree-item-self { color: var(--folder12);}
.workspace-leaf-content[data-type="bookmarks"] .tree-item:nth-child(13n + 26)  .tree-item-self { color: var(--folder13);}