@charset "UTF-8";

/***************
 POPOVER WINDOW
***************/
/*
.popover.hover-popover {
  position: absolute;
  z-index: var(--layer-popover);
  max-height: 800px;
  min-height: 500px;
  width: 800px;
  overflow: hidden;
  padding: 0;
  border-bottom: none;
}

.popover h1 {
font-size: 24px;
}

.popover {
font-size: 18px;
border-radius: 14px;
}
*/

/**************
 RIGHT SIDEBAR 
**************/
.mod-right-split .view-content,
.mod-right-split .workspace-tab-header-container,
.nav-header {
  background-color: var(--background-primary-alt);
}