@charset "UTF-8";

.popover.hover-popover {
  position: absolute;
  z-index: var(--layer-popover);
  max-height: 800px;
  /* was 300 */
  min-height: 500px;
  width: 800px;
  overflow: hidden;
  padding: 0;
  border-bottom: none;
}

.popover h1 {
font-size: 24px;
}

.popover {
font-size: 18px;
border-radius: 14px;
}

/**IN LIGHT THEME */
.theme-light .mod-right-split .view-content,
.theme-light .mod-right-split .workspace-tab-header-container
.theme-light .nav-header {
  background-color: var(--background-primary-alt);
}

/**IN DARK THEME */
.theme-dark .mod-right-split .view-content,
.theme-dark .mod-right-split .workspace-tab-header-container,
.theme-dark .nav-header {
  background-color: var(--background-primary-alt);
}