/* =======================================
   Dark Theme
   ======================================= */

/* Bold */
.theme-dark .markdown-preview-section strong,
.theme-dark .markdown-preview-section strong > a,
.theme-dark .markdown-preview-section strong > a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--theme-dark-bold);
  color: var(--theme-dark-bold-font-color); }

/* Italic */
.theme-dark .markdown-preview-section em {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--theme-dark-italic);
  color: var(--theme-dark-italic-font-color)}

/* Highlight */
.theme-dark .markdown-preview-view mark {
  text-decoration: none;
  color: var(--theme-dark-highlight-font);
  background-color: var(--theme-dark-highlight-bg);  
  border-radius: 4px; 
  padding: 0px 2px 0px 2px; 
  opacity: 1; }

/* =======================================
   Light Theme
   ======================================= */

/* Bold */
.theme-light .markdown-preview-section strong,
.theme-light .markdown-preview-section strong > a,
.theme-light .markdown-preview-section strong > a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--theme-light-bold);
  padding-bottom: 0px;}

/* Italic */
.theme-light .markdown-preview-section em {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--theme-light-italic);}

.theme-light .markdown-preview-section em {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--theme-light-italic);}

/* Highlight */
.theme-light .markdown-preview-view mark {
  text-decoration: none;
  color: var(--theme-light-highlight-font);
  background-color: var(--theme-light-highlight-bg);  
  border-radius: 4px; 
  padding: 0px 2px 0px 2px; 
  opacity: 1;}

/* =======================================
   Outliner Plugin
   ======================================= */   

[data-type="outline"] {
  .tree-item > .tree-item-self {
    color: var(--dFold1); }
  .tree-item .tree-item > .tree-item-self {
    color: var(--dFold2); }
  .tree-item .tree-item .tree-item > .tree-item-self {
    color: var(--dFold3);  }
  .tree-item .tree-item .tree-item .tree-item > .tree-item-self {
    color: var(--dFold4); }
  .tree-item .tree-item .tree-item .tree-item .tree-item > .tree-item-self {
    color: var(--dFold5); }
  .tree-item .tree-item .tree-item .tree-item .tree-item .tree-item > .tree-item-self {
    color: var(--dFold6); }
}

/* Schriften */

.view-content > .markdown-source-view.mod-cm6 .cm-scroller,
.view-content > .markdown-source-view,
.view-content > .cm-s-obsidian {
  font-family: "iA Writer Quattro V"; }

.default h1, .default h2, .default h3, .default h4, .default h5, .default h6,
.gnome h1, .gnome h2, .gnome h3, .gnome h4, .gnome h5, .gnome h6 {
  font-family: "Oxygen"; }

.default .cm-header-1, .default .cm-header-2, .default .cm-header-3, .default .cm-header-4, .default .cm-header-5, .default .cm-header-6,
.gnome .cm-header-1, .default .cm-header-2, .default .cm-header-3, .default .cm-header-4, .default .cm-header-5, .default .cm-header-6   {
  font-family: "IBM Plex Mono"; 
  color: var(--text-accent);}

.gnome h1, .gnome h2, .gnome h3, .gnome h4, .gnome h5, .gnome h6,
.gnome .markdown-preview-view .internal-link,
.gnome .markdown-preview-section .external-link {
  color: var(--text-accent); 
  font-weight: var(--font-medium); }

body {
  --line-number-color: var(--text-faint);
  --line-number-color-active: var(--text-muted); }

.markdown-source-view.mod-cm6 .cm-gutters {
  color: var(--line-number-color) !important; }

.markdown-source-view.mod-cm6 .cm-editor .cm-gutterElement.cm-active .cm-heading-marker,
.markdown-source-view.mod-cm6 .cm-editor .cm-lineNumbers .cm-gutterElement.cm-active {
  color: var(--line-number-color-active); }

.cm-editor .cm-lineNumbers {
  background-color: var(--gutter-background); }

.cm-editor .cm-lineNumbers .cm-gutterElement {
  min-width: var(--folding-offset);
  padding-inline-end: 0.5em; }

  
